@font-face {
  src: url(../fonts/SourceSansPro-Regular.woff) format("woff");
  font-family: "SourceSansPro";
  font-weight: 400;
}

@font-face {
  src: url(../fonts/SourceSansPro-SemiBold.woff) format("woff");
  font-family: "SourceSansPro";
  font-weight: 600;
}
